; http://editorconfig.org/

root = true

[*.{c,h}]
charset                  = UTF-8
end_of_line              = LF
indent_size              = 4
indent_style             = tab
insert_final_newline     = true
tab_width                = 4
trim_trailing_whitespace = true

[*.yml]
indent_size              = 2
indent_style             = space
