ext/mysqlnd/mysqlnd.h           ident
ext/simplexml/simplexml.c       ident
ext/iconv/php_iconv.h           ident
ext/posix/posix.c               ident
ext/recode/recode.c             ident
ext/skeleton/create_stubs       ident
ext/phar/phar/pharcommand.inc   ident
ext/phar/phar.c                 ident
ext/sysvmsg/sysvmsg.c           ident
ext/enchant/enchant.c           ident
ext/reflection/php_reflection.c ident
ext/oci8/oci8.c                 ident
ext/dba/libinifile/inifile.c    ident
ext/dba/libflatfile/flatfile.c  ident
ext/dba/libcdb/cdb_make.c       ident
ext/dba/libcdb/cdb.c            ident
ext/filter/filter.c             ident
README.input_filter             ident
run-tests.php                   ident
sapi/nsapi/nsapi.c              ident
sapi/continuity/capi.c          ident
Zend/RFCs/002.txt               ident
Zend/RFCs/003.txt               ident
NEWS                            merge=NEWS
