print-summary = yes

exclude-throw-branches = yes
exclude-unreachable-branches = yes

exclude = ext/bcmath/libbcmath/.*
exclude = ext/date/lib/.*
exclude = ext/fileinfo/libmagic/.*
exclude = ext/gd/libgd/.*
exclude = ext/hash/sha3/.*
exclude = ext/lexbor/lexbor/.*
exclude = ext/mbstring/libmbfl/.*
exclude = ext/opcache/jit/ir/.*
exclude = ext/pcre/pcre2lib/.*
exclude = ext/uri/uriparser/.*
exclude = Zend/Optimizer/ssa_integrity\.c
exclude = Zend/Optimizer/zend_dump\.c

# These patterns have implicit ^/$ anchors.
exclude-lines-by-pattern = .*\b(ZEND_PARSE_PARAMETERS_(START|END|NONE)|Z_PARAM_).*
exclude-lines-by-pattern = \s*(default:\s*)?ZEND_UNREACHABLE\(\);\s*
exclude-lines-by-pattern = \s*if \(ctx->debug_level & ZEND_DUMP_\w+\) \{\s*
exclude-lines-by-pattern = \s*zend_dump_op_array\(.*\);\s*
