*.o
*.log
*.dot
*.pdf
ir_fold_hash.h
ir_emit_x86.h
ir_emit_aarch64.h
minilua
gen_ir_fold_hash
ir_test
ir
b.c

tests/**/*.diff
tests/**/*.exp
tests/**/*.ir
tests/**/*.out
tests/**/*.log

win32/vcpkg
win32/build_*
