<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
  <servlet>
    <servlet-name>
      php
    </servlet-name>
    <servlet-class>
      net.php.servlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>
      php-formatter
    </servlet-name>
    <servlet-class>
      net.php.formatter
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>
      php
    </servlet-name>
    <url-pattern>
      *.php
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>
      php-formatter
    </servlet-name>
    <url-pattern>
      *.phps
    </url-pattern>
  </servlet-mapping>
</web-app>
