[ req ]
distinguished_name = req_distinguished_name

[ req_distinguished_name ]

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = ${ENV::PHP_SUBJECTALTNAME}

[ usr_cert ]
basicConstraints = CA:FALSE
subjectAltName = ${ENV::PHP_SUBJECTALTNAME}
