{
	admin off
	auto_https disable_redirects
}

localhost

respond / "Caddy is up and running"

# HTTP/2 Server Push
respond /serverpush "main response"
respond /serverpush/pushed "pushed response"
push /serverpush /serverpush/pushed
