/* $Id$ */
1 VERSIONINFO
FILEVERSION 1,0,2,0 
PRODUCTVERSION 1,0,2,0 
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "-\0"
      VALUE "FileDescription", "streamable kanji code filter\0"
      VALUE "FileVersion", "1.0.2\0"
      VALUE "InternalName", "mbfl\0"
      VALUE "LegalCopyright", "GNU Lesser Public License Version 2.0\0"
      VALUE "OriginalFilename", "mbfl.dll\0"
      VALUE "ProductName", "mbfl\0"
      VALUE "ProductVersion", "1.0.2\0"
    }
  }
}

