name: Docs
on:
  push:
    branches:
      - master
    paths:
      - docs/**
  pull_request:
    paths:
      - docs/**
jobs:
  pages:
    runs-on: ubuntu-22.04
    permissions:
      pages: write
      id-token: write
    if: github.repository == 'php/php-src'
    steps:
      - name: git checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        run: pip install -r docs/requirements.txt
      - name: Check formatting
        run: make -C docs check-formatting
      - name: Publish
        if: github.event_name == 'push'
        uses: sphinx-notes/pages@v3
        with:
          checkout: false
          documentation_path: docs/source
