name: Push
on:
  push:
    paths-ignore:
      - docs/*
      - NEWS
      - UPGRADING
      - UPGRADING.INTERNALS
      - '**/README.*'
      - CONTRIBUTING.md
      - CODING_STANDARDS.md
      - .cirrus.yml
      - .travis.yml
      - travis/*
      - .circleci/*
    branches:
      - PHP-8.1
      - PHP-8.2
      - PHP-8.3
      - master
  pull_request:
    paths-ignore:
      - docs/*
      - NEWS
      - UPGRADING
      - UPGRADING.INTERNALS
      - '**/README.*'
      - CONTRIBUTING.md
      - CODING_STANDARDS.md
      - .cirrus.yml
      - .travis.yml
      - travis/*
      - .circleci/*
    branches:
      - '**'
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.url || github.run_id }}
  cancel-in-progress: true
# env:
#   CC: ccache gcc
#   CXX: ccache g++
jobs:
  LINUX_X64:
    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: root
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
      firebird:
        image: jacobalberty/firebird
        ports:
          - 3050:3050
        env:
          ISC_PASSWORD: test
          FIREBIRD_DATABASE: test.fdb
          FIREBIRD_USER: test
          FIREBIRD_PASSWORD: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - debug: false
            zts: false
            asan: false
          - debug: true
            zts: true
            asan: true
    name: "LINUX_X64_${{ matrix.debug && 'DEBUG' || 'RELEASE' }}_${{ matrix.zts && 'ZTS' || 'NTS' }}${{ matrix.asan && '_ASAN' || '' }}"
    runs-on: ubuntu-22.04
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - name: apt
        uses: ./.github/actions/apt-x64
      - name: LLVM 16 (ASAN-only)
        if: ${{ matrix.asan }}
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod u+x llvm.sh
          sudo ./llvm.sh 16
      - name: System info
        run: |
          echo "::group::Show host CPU info"
          lscpu
          echo "::endgroup::"
          echo "::group::Show installed package versions"
          dpkg -l
          echo "::endgroup::"
      - name: Create MSSQL container
        if: ${{ !matrix.asan }}
        uses: ./.github/actions/setup-mssql
      - name: Create Oracle container
        if: ${{ !matrix.asan }}
        uses: ./.github/actions/setup-oracle
      - name: Setup Caddy server
        uses: ./.github/actions/setup-caddy
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          # This duplicates the "job.name" expression above because
          # GitHub has no way to query the job name (github.job is the
          # job id, not the job name)
          key: "LINUX_X64_${{ matrix.debug && 'DEBUG' || 'RELEASE' }}_${{ matrix.zts && 'ZTS' || 'NTS' }}${{ matrix.asan && '_ASAN' || '' }}-${{hashFiles('main/php_version.h')}}"
          append-timestamp: false
      - name: ./configure
        uses: ./.github/actions/configure-x64
        with:
          configurationParameters: >-
            --${{ matrix.debug && 'enable' || 'disable' }}-debug
            --${{ matrix.zts && 'enable' || 'disable' }}-zts
            ${{ matrix.asan && 'CFLAGS="-fsanitize=undefined,address -fno-sanitize=pointer-overflow -DZEND_TRACK_ARENA_ALLOC -DZEND_VERIFY_TYPE_INFERENCE" LDFLAGS="-fsanitize=undefined,address -fno-sanitize=pointer-overflow" CC=clang-16 CXX=clang++-16' || '' }}
          skipSlow: ${{ matrix.asan }}
      - name: make
        run: make -j$(/usr/bin/nproc) >/dev/null
      - name: make install
        uses: ./.github/actions/install-linux
      - name: Setup
        if: ${{ !matrix.asan }}
        uses: ./.github/actions/setup-x64
      - name: Test
        if: matrix.asan == false
        uses: ./.github/actions/test-linux
        with:
          testArtifacts: ${{ matrix.debug && 'DEBUG' || 'RELEASE' }}_${{ matrix.zts && 'ZTS' || 'NTS' }}
      - name: Test Tracing JIT
        uses: ./.github/actions/test-linux
        with:
          testArtifacts: ${{ matrix.debug && 'DEBUG' || 'RELEASE' }}_${{ matrix.zts && 'ZTS' || 'NTS' }}${{ matrix.asan && '_ASAN' || '' }}_Tracing JIT
          jitType: tracing
          runTestsParameters: >-
            -d zend_extension=opcache.so
            -d opcache.enable_cli=1
            ${{ matrix.asan && '--asan -x' || '' }}
      - name: Verify generated files are up to date
        if: ${{ !matrix.asan }}
        uses: ./.github/actions/verify-generated-files
  MACOS_DEBUG_NTS:
    if: false
    runs-on: macos-13
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - name: brew
        uses: ./.github/actions/brew
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{github.job}}-${{hashFiles('main/php_version.h')}}"
          append-timestamp: false
      - name: ./configure
        uses: ./.github/actions/configure-macos
        with:
          configurationParameters: --enable-debug --disable-zts
      - name: make
        run: |-
          export PATH="/usr/local/opt/bison/bin:$PATH"
          make -j$(sysctl -n hw.logicalcpu) >/dev/null
      - name: make install
        run: sudo make install
      - name: Test Tracing JIT
        uses: ./.github/actions/test-macos
        with:
          testArtifacts: ${{ matrix.debug && 'DEBUG' || 'RELEASE' }}_${{ matrix.zts && 'ZTS' || 'NTS' }} Tracing JIT
          jitType: tracing
          runTestsParameters: >-
            -d zend_extension=opcache.so
            -d opcache.enable_cli=1
      - name: Verify generated files are up to date
        uses: ./.github/actions/verify-generated-files
  WINDOWS:
    if: false
    name: WINDOWS_X64_ZTS
    runs-on: windows-2019
    env:
      PHP_BUILD_CACHE_BASE_DIR: C:\build-cache
      PHP_BUILD_OBJ_DIR: C:\obj
      PHP_BUILD_CACHE_SDK_DIR: C:\build-cache\sdk
      PHP_BUILD_SDK_BRANCH: php_downloads_server_migration_v1
      PHP_BUILD_CRT: vs16
      PLATFORM: x64
      THREAD_SAFE: "1"
      INTRINSICS: AVX2
      PARALLEL: -j2
      OPCACHE: "1"
    steps:
      - name: git config
        run: git config --global core.autocrlf false && git config --global core.eol lf
      - name: git checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup-windows
      - name: Build
        run: .github/scripts/windows/build.bat
      - name: Test
        run: .github/scripts/windows/test.bat
  BENCHMARKING:
    name: BENCHMARKING
    # if: github.repository_owner == 'php' || github.event_name == 'pull_request'
    if: false
    runs-on: ubuntu-22.04
    steps:
      - name: git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: apt
        run: |
          set -x
          sudo apt-get update
          sudo apt-get install \
            bison \
            libgmp-dev \
            libonig-dev \
            libsqlite3-dev \
            openssl \
            re2c \
            valgrind
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: "${{github.job}}-${{hashFiles('main/php_version.h')}}"
          append-timestamp: false
      - name: ./configure
        run: |
          set -x
          ./buildconf --force
          ./configure \
            --disable-debug \
            --enable-mbstring \
            --enable-opcache \
            --enable-option-checking=fatal \
            --enable-sockets \
            --enable-werror \
            --prefix=/usr \
            --with-config-file-scan-dir=/etc/php.d \
            --with-gmp \
            --with-mysqli=mysqlnd \
            --with-openssl \
            --with-pdo-sqlite \
            --with-valgrind
      - name: make
        run: make -j$(/usr/bin/nproc) >/dev/null
      - name: make install
        run: |
          set -x
          sudo make install
          sudo mkdir -p /etc/php.d
          sudo chmod 777 /etc/php.d
          echo mysqli.default_socket=/var/run/mysqld/mysqld.sock > /etc/php.d/mysqli.ini
          echo zend_extension=opcache.so >> /etc/php.d/opcache.ini
          echo opcache.enable=1 >> /etc/php.d/opcache.ini
          echo opcache.enable_cli=1 >> /etc/php.d/opcache.ini
      - name: Setup
        run: |
          git config --global user.name "Benchmark"
          git config --global user.email "benchmark@php.net"
          sudo service mysql start
          mysql -uroot -proot -e "CREATE DATABASE IF NOT EXISTS wordpress"
          mysql -uroot -proot -e "CREATE USER 'wordpress'@'localhost' IDENTIFIED BY 'wordpress'; FLUSH PRIVILEGES;"
          mysql -uroot -proot -e "GRANT ALL PRIVILEGES ON *.* TO 'wordpress'@'localhost' WITH GRANT OPTION;"
      - name: git checkout benchmarking-data
        uses: actions/checkout@v4
        with:
          repository: php/benchmarking-data
          ssh-key: ${{ secrets.BENCHMARKING_DATA_DEPLOY_KEY }}
          path: benchmark/repos/data
      - name: Benchmark
        run: php benchmark/benchmark.php true
      - name: Store result
        if: github.event_name == 'push'
        run: |
          set -x
          cd benchmark/repos/data
          git pull --autostash
          if [ -e ".git/MERGE_HEAD" ]; then
            echo "Merging, can't proceed"
            exit 1
          fi
          git add .
          if git diff --cached --quiet; then
            exit 0
          fi
          git commit -m "Add result for ${{ github.repository }}@${{ github.sha }}"
          git push
      - name: Show diff
        if: github.event_name == 'pull_request'
        run: |-
          set -x
          php benchmark/generate_diff.php \
            ${{ github.sha }} \
            $(git merge-base ${{ github.event.pull_request.base.sha }} ${{ github.sha }}) \
            > $GITHUB_STEP_SUMMARY
      - uses: actions/upload-artifact@v3
        with:
          name: profiles
          path: ${{ github.workspace }}/benchmark/profiles
          retention-days: 30
  COMMUNITY:
    strategy:
      fail-fast: false
      matrix:
        type: ['verify_type_inference']
    name: "COMMUNITY_verify_type_inference"
    runs-on: ubuntu-22.04
    env:
      ASAN_OPTIONS: exitcode=139
      UBSAN_OPTIONS: print_stacktrace=1
      USE_ZEND_ALLOC: 0
      USE_TRACKED_ALLOC: 1
    steps:
      - name: git checkout
        uses: actions/checkout@v4
      - name: apt
        uses: ./.github/actions/apt-x64
      - name: ./configure
        uses: ./.github/actions/configure-x64
        with:
          # CFLAGS removes O2, so we have to add it again...
          configurationParameters: >-
            --enable-zts
            CFLAGS="-DZEND_VERIFY_TYPE_INFERENCE -O2"
      - name: make
        run: make -j$(/usr/bin/nproc) >/dev/null
      - name: make install
        uses: ./.github/actions/install-linux
      - name: Setup
        run: |
          sudo service mysql start
          mysql -uroot -proot -e "CREATE DATABASE IF NOT EXISTS test"
          mysql -uroot -proot -e "SET GLOBAL local_infile = true"
      - name: Enable Opcache
        run: |
          echo memory_limit=-1 >> /etc/php.d/opcache.ini
          echo zend_extension=opcache.so > /etc/php.d/opcache.ini
          echo opcache.enable_cli=1 >> /etc/php.d/opcache.ini
          echo opcache.enable=1 >> /etc/php.d/opcache.ini
          echo opcache.memory_consumption=256M >> /etc/php.d/opcache.ini
          echo opcache.file_update_protection=0 >> /etc/php.d/opcache.ini
          echo opcache.interned_strings_buffer=64 >> /etc/php.d/opcache.ini
          echo opcache.max_accelerated_files=100000 >> /etc/php.d/opcache.ini
      - name: Test AMPHP
        run: |
          repositories="amp cache dns file http parallel parser pipeline process serialization socket sync websocket-client websocket-server"
          X=0
          for repository in $repositories; do
            printf "Testing amp/%s\n" "$repository"
            git clone "https://github.com/amphp/$repository.git" "amphp-$repository" --depth 1
            cd "amphp-$repository"
            git rev-parse HEAD
            php /usr/bin/composer install --no-progress --ignore-platform-reqs
            vendor/bin/phpunit || EXIT_CODE=$?
            if [ ${EXIT_CODE:-0} -gt 128 ]; then
              X=1;
            fi
            cd ..
          done
          exit $X
      - name: Test Laravel
        run: |
          git clone https://github.com/laravel/framework.git --branch=master --depth=1
          cd framework
          git rev-parse HEAD
          php /usr/bin/composer install --no-progress --ignore-platform-reqs
          # Hack to disable a test that hangs
          php -r '$c = file_get_contents("tests/Filesystem/FilesystemTest.php"); $c = str_replace("public function testSharedGet()", "#[\\PHPUnit\\Framework\\Attributes\\Group('"'"'skip'"'"')]\n    public function testSharedGet()", $c); file_put_contents("tests/Filesystem/FilesystemTest.php", $c);'
          php vendor/bin/phpunit --exclude-group skip || EXIT_CODE=$?
          if [ ${EXIT_CODE:-0} -gt 128 ]; then
            exit 1
          fi
      - name: Test ReactPHP
        run: |
          repositories="async cache child-process datagram dns event-loop promise promise-stream promise-timer stream"
          X=0
          for repository in $repositories; do
            printf "Testing reactphp/%s\n" "$repository"
            git clone "https://github.com/reactphp/$repository.git" "reactphp-$repository" --depth 1
            cd "reactphp-$repository"
            git rev-parse HEAD
            php /usr/bin/composer install --no-progress --ignore-platform-reqs
            vendor/bin/phpunit || EXIT_CODE=$?
            if [ $[EXIT_CODE:-0} -gt 128 ]; then
              X=1;
            fi
            cd ..
          done
          exit $X
      - name: Test Revolt PHP
        run: |
          git clone https://github.com/revoltphp/event-loop.git --depth=1
          cd event-loop
          git rev-parse HEAD
          php /usr/bin/composer install --no-progress --ignore-platform-reqs
          vendor/bin/phpunit || EXIT_CODE=$?
          if [ ${EXIT_CODE:-0} -gt 128 ]; then
            exit 1
          fi
      - name: Test Symfony
        run: |
          git clone https://github.com/symfony/symfony.git --depth=1
          cd symfony
          git rev-parse HEAD
          php /usr/bin/composer install --no-progress --ignore-platform-reqs
          php ./phpunit install
          # Test causes a heap-buffer-overflow but I cannot reproduce it locally...
          php -r '$c = file_get_contents("src/Symfony/Component/HtmlSanitizer/Tests/HtmlSanitizerCustomTest.php"); $c = str_replace("public function testSanitizeDeepNestedString()", "/** @group skip */\n    public function testSanitizeDeepNestedString()", $c); file_put_contents("src/Symfony/Component/HtmlSanitizer/Tests/HtmlSanitizerCustomTest.php", $c);'
          # Buggy FFI test in Symfony, see https://github.com/symfony/symfony/issues/47668
          php -r '$c = file_get_contents("src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php"); $c = str_replace("*/\n    public function testCastNonTrailingCharPointer()", "* @group skip\n     */\n    public function testCastNonTrailingCharPointer()", $c); file_put_contents("src/Symfony/Component/VarDumper/Tests/Caster/FFICasterTest.php", $c);'
          export SYMFONY_DEPRECATIONS_HELPER=max[total]=999
          X=0
          for component in $(find src/Symfony -mindepth 2 -type f -name phpunit.xml.dist -printf '%h\n'); do
            php ./phpunit $component --exclude-group tty,benchmark,intl-data,transient --exclude-group skip || EXIT_CODE=$?
            if [ ${EXIT_CODE:-0} -gt 128 ]; then
              X=1;
            fi
          done
          exit $X
      - name: Test PHPUnit
        if: always()
        run: |
          git clone https://github.com/sebastianbergmann/phpunit.git --branch=main --depth=1
          cd phpunit
          git rev-parse HEAD
          php /usr/bin/composer install --no-progress --ignore-platform-reqs
          php ./phpunit || EXIT_CODE=$?
          if [ ${EXIT_CODE:-0} -gt 128 ]; then
            exit 1
          fi
      - name: 'Symfony Preloading'
        run: |
          php /usr/bin/composer create-project symfony/symfony-demo symfony_demo --no-progress --ignore-platform-reqs
          cd symfony_demo
          git rev-parse HEAD
          sed -i 's/PHP_SAPI/"cli-server"/g' var/cache/dev/App_KernelDevDebugContainer.preload.php
          php -d opcache.preload=var/cache/dev/App_KernelDevDebugContainer.preload.php public/index.php
      - name: Test Wordpress
        if: always()
        run: |
          git clone https://github.com/WordPress/wordpress-develop.git wordpress --depth=1
          cd wordpress
          git rev-parse HEAD
          php /usr/bin/composer install --no-progress --ignore-platform-reqs
          cp wp-tests-config-sample.php wp-tests-config.php
          sed -i 's/youremptytestdbnamehere/test/g' wp-tests-config.php
          sed -i 's/yourusernamehere/root/g' wp-tests-config.php
          sed -i 's/yourpasswordhere/root/g' wp-tests-config.php
          php vendor/bin/phpunit || EXIT_CODE=$?
          if [ $EXIT_CODE -gt 128 ]; then
            exit 1
          fi
