name: Push
on:
  push:
    paths-ignore: &ignore_paths
      - docs/**
      - NEWS
      - UPGRADING
      - UPGRADING.INTERNALS
      - '**/README.*'
      - CONTRIBUTING.md
      - CODING_STANDARDS.md
      - .cirrus.yml
      - .circleci/**
    branches:
      - PHP-8.2
      - PHP-8.3
      - PHP-8.4
      - PHP-8.5
      - master
  pull_request:
    paths-ignore: *ignore_paths
    branches:
      - '**'
  workflow_dispatch: ~
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.url || github.run_id }}
  cancel-in-progress: true
env:
  CC: ccache gcc
  CXX: ccache g++
jobs:
  GENERATE_MATRIX:
    name: Generate Matrix
    if: github.repository == 'php/php-src' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    outputs:
      all_variations: ${{ steps.set-matrix.outputs.all_variations }}
      branches: ${{ steps.set-matrix.outputs.branches }}
    steps:
      - uses: actions/checkout@v6
      - name: Generate Matrix
        id: set-matrix
        run: php .github/nightly_matrix.php "${{ github.event_name }}" "${{ github.run_attempt }}" "${{ github.ref }}" '${{ toJSON(github.event.pull_request.labels) }}' "${{ github.repository }}"
  PUSH:
    needs: GENERATE_MATRIX
    name: ${{ matrix.branch.ref }}
    uses: ./.github/workflows/nightly.yml
    strategy:
      fail-fast: false
      matrix:
        branch: ${{ fromJson(needs.GENERATE_MATRIX.outputs.branches) }}
    with:
      all_variations: ${{ needs.GENERATE_MATRIX.outputs.all_variations == 'true' }}
      branch: ${{ toJSON(matrix.branch) }}
    secrets: inherit
